{% extends 'dashboard.twig' %}
	{% block content %}

	    <div class="centerLargeDiv">
		    <h1>{{ 'CoreAdminHome_ScheduledTasks'|translate }}</h1>
		    <table class="tableForm dataTable entityTable">
		        <tr>
		            <td>{{ 'General_Name'|translate }}</td>
			        <td>{{ 'General_Date'|translate }}</td>
		        </tr>
		        {% for name, timestamp in tasks %}
		        <tr>
				    <td>{{name}}</td>
				    <td>{{timestamp|date() }}</td>
		        </tr>
	           {% endfor %}
		    </table>
	    </div>


{% endblock %}
