{% extends 'admin.twig' %}
	{% block content %}

	    <div class="centerLargeDiv">
		    <h2>{{ 'TasksTimetable_ScheduledTasks'|translate }}</h2>

            <p>
                {{ 'TasksTimetable_MainDescription'|translate('<span class="server-time">'~serverTime~'</span>')|raw }}
            </p>
		    <table class="tableForm dataTable entityTable">
                <thead>
                    <tr>
                        <th>{{ 'General_Name'|translate }}</th>
                        <th>{{ 'General_Date'|translate }} ({{ 'VisitTime_ColumnServerTime'|translate }})</th>
                    </tr>
                </thead>
                <tbody>
                    {% if tasks|length %}
                        {% for task in tasks %}
                        <tr>
                            <td>{{ task.name}}</td>
                            <td>{{ task.executionDate }}<br /><span style="color:#999">(in {{ task.ts_difference|raw }})</span></td>
                        </tr>
                       {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="2"><br/>{{ 'TasksTimetable_NothingScheduled'|translate }}<br/><br/></td>
                        </tr>
                    {% endif %}
                </tbody>
		    </table>
	    </div>


{% endblock %}
