{% extends 'dashboard.twig' %}
	{% block content %}

	    <div class="centerLargeDiv">
		    <h1>{{ 'CoreAdminHome_ScheduledTasks'|translate }}</h1>
		    <table class="tableForm dataTable entityTable">
                <thead>
                    <tr>
                        <th>{{ 'General_Name'|translate }}</th>
                        <th>{{ 'General_Date'|translate }} ({{ 'VisitTime_ColumnServerTime'|translate }})</th>
                    </tr>
                </thead>
                <tbody>
                    {% if tasks|length %}
                        {% for task in tasks %}
                        <tr>
                            <td>{{ task.name}}</td>
                            <td>{{ task.timestamp|date }} <span style="color:#999">(in {{ task.ts_difference|raw }})</span></td>
                        </tr>
                       {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="2"><br/>No scheduled tasks<br/><br/></td>
                        </tr>
                    {% endif %}
                </tbody>
		    </table>
	    </div>


{% endblock %}
